<div class="user-menu-container">
  <div class="user-menu">
    <img src="../../../assets/images/account_icon.svg" alt="account icon" />
    <label>My Account</label>
  </div>
  <div class="user-menu">
    <img src="../../../assets/images/wishlist_icon.svg" alt="whishlist icon" />
    <label>Wishlist (0)</label>
  </div>
  <div class="user-menu">
    <img src="../../../assets/images/compare_icon.svg" alt="compare icon" />
    <label>Compare (0)</label>
  </div>
  <div class="user-menu">
    <img src="../../../assets/images/cart_icon.svg" alt="shopping cart icon" />
    <label>Cart (0)</label>
  </div>
</div>
