.user-menu-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  min-width: 251px;
}

.user-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  color: black;
}

img {
  width: 24px;
  height: 24px;
}
