<div class="navigation-container">
  <app-header></app-header>
  <hr />
  <div class="flex-container">
    <div class="img-container">
      <img
        src="../../../assets/images/beer_shop_logo.svg"
        alt="beer shop logo"
      />
    </div>
    <div class="nav-middle">
      <div class="flex-top">
        <app-search-bar></app-search-bar>
        <app-user-bar></app-user-bar>
      </div>
      <div class="flex-bottom">
        <app-pages-bar></app-pages-bar>
      </div>
    </div>
  </div>

  <hr />
</div>
