@import '../../../assets/styles/variables';

h1 {
  @include headlineH1;
}

.container {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    .caption {
        @include caption-link;
        color: $blackColor;
    }
    .caption-bold {
        @include caption-bold;
    }

    .arrow-right {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url('../../../assets/images/arrow_right_icon.svg');
    }

    &:hover{
        text-decoration: underline ;
    }
    &:active{
        @include caption-bold;
    }
}
