<div class="container">
  <div class="contact-container">
    <img
      class="contact-icon"
      src="/assets/images/contact_icon.svg"
      alt="contact icon"
    />
    <div>Contact</div>
  </div>
  <div class="language-container">
    <img
      class="language-icon"
      src="/assets/images/lanuage_icon.svg"
      alt="language icon"
    />
    <div class="language-text">EN</div>
    <img
      class="arrow-icon"
      src="/assets/images/language_dropdown_icon.svg"
      alt="language dropdown icon"
    />
  </div>
</div>
