@import '../../../assets/styles/variables';

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  max-height: 317px;
}

.top-left-and-mid-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

p {
  margin: 0;
}

.img-container {
  display: flex;
  width: 411px;
  height: 317px;
  justify-content: center;
  background-color: $productTileBackground;
  overflow: hidden;
  &:hover img {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
  }

}

img {
  height: 317px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  vertical-align: middle;
}

.top-mid-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-width: 211px;
}

.top-mid-top-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.beer-name-container {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 0;
    @include headlineH1;
  }
  p {
    margin: 0;
    @include copy-text-standard;
    color: $darkGreyColor;
  }
}

.beer-desc.container {
  p {
    margin: 0;
    @include copy-text-standard;
    color: $blackColor;
  }
}

.top-mid-bottom-container {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    @include headlineH2;
  }
  p {
    margin: 0;
    @include caption;
    color: $darkGreyColor;
  }
  a {
    color: $primaryColor;
  }
}

.top-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 24px;
  background-color: $veryLightGreyColor;
  p {
    @include copy-text-standard;
  }
}

.top-right-top-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.price-container {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
    @include headlineH4;
  }
  h2 {
    margin: 0;
    @include headlineH2;
  }
  p {
    @include caption;
  }
  a {
    color: $primaryColor;
  }
}

.top-right-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mid-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 628px;
  max-width: 100%;
  .mid-top-container {
    @include headlineH2;
    margin: 0;
  }
  .mid-mid-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .mid-mid-wrapper-container {
      display: flex;
      flex-direction: row;
      gap: 40px;
      min-width: 628px;
      max-width: 800px;
      padding: 0px 0px 16px;
      border-bottom: 1px solid $greyColor;
      .fact {
        margin: 0;
        @include copy-text-bold;
        color: $darkGreyColor;
        min-width: 109px;
        max-width: 109px;
      }
      .fact-detail {
        margin: 0;
        @include copy-text-standard;
        min-width: 479px;
        max-width: 600px;
        color: $blackColor;
      }
      hr {
        padding: 0;
        margin: 0;

      }
    }
  }
}
