<div class="main-container">
  <div class="left-container">
    <div class="img-container">
      <img src="https://images.punkapi.com/v2/2.png" alt="product image" />
    </div>
  </div>
  <div class="mid-container">
    <div class="mid-top-container">
      <div class="beer-name-container">
        <p>Fuerst Wiacek Entertainment</p>
        <p>Oso Brew</p>
      </div>
      <div class="beer-desc-container">
        <p>
          A new version of the Fruit Sour Frutal from Oso Brew in Madrid. This
          time, blackcurrants were used in addition to blueberries. And in great
          quantities. You can look forward to a great juice!
        </p>
      </div>
    </div>
    <div class="mid-bottom-container">
      <p>€8.49</p>
      <p>Plus shipping costs</p>
    </div>
  </div>
  <div class="right-container">
    <app-spinner></app-spinner>
  </div>
</div>
