<div class="main-container">
  <div class="top-container">
    <div class="top-left-and-mid-container">
      <div class="left-container">
        <div class="img-container">
          <img src="https://images.punkapi.com/v2/2.png" alt="product image" />
        </div>
      </div>
      <div class="top-mid-container">
        <div class="top-mid-top-container">
          <div class="beer-name-container">
            <h1>Fuerst Wiacek Entertainment</h1>
            <p>Oso Brew</p>
          </div>
          <div class="beer-desc-container">
            <p>
              A new version of the Fruit Sour Frutal from Oso Brew in Madrid.
              This time, blackcurrants were used in addition to blueberries. And
              in great quantities. You can look forward to a great juice!
            </p>
          </div>
        </div>
        <div class="top-mid-bottom-container">
          <h2>€8.49</h2>
          <p>Plus <a href="#">shipping costs</a></p>
        </div>
      </div>
    </div>
    <div class="top-right-container">
      <div class="top-right-top-container">
        <p>Delivery time appr. 3-7 workdays</p>
        <div class="price-container">
          <h4>total</h4>
          <h2>€8.49</h2>
          <p>Prices incl. VAT plus <a href="#">shipping costs</a></p>
        </div>
      </div>
      <div class="top-right-bottom-container">
        <app-spinner></app-spinner>
        <app-primary-button buttonWidth="242px"></app-primary-button>
      </div>
    </div>
  </div>
  <div class="mid-container">
    <div class="mid-top-container">
      <h2>Beer Facts</h2>
    </div>
    <div class="mid-mid-container">
      <div class="mid-mid-wrapper-container">
        <p class="fact">Ingredients:</p>
        <p class="fact-detail">
          Water, BARLEY MALT, WHEAT, Blueberries, Blackcurrant, Hops, Yeast
        </p>
      </div>
      <div class="mid-mid-wrapper-container">
        <p class="fact">Brewery:</p>
        <p class="fact-detail">
          Oso Brew Co., La Osita, Cava Baja 10, Madrid, 28005, Spain - Import:
          Brausturm Bierverlag GmbH, Eduardstraße 46-48, 20257 Hamburg, Germany
        </p>
      </div>
      <div class="mid-mid-wrapper-container">
        <p class="fact">Beer Style:</p>
        <p class="fact-detail">Fruit Sour</p>
      </div>
      <div class="mid-mid-wrapper-container">
        <p class="fact">ABV (% ALCOHOL):</p>
        <p class="fact-detail">6,5</p>
      </div>
      <div class="mid-mid-wrapper-container">
        <p class="fact">Drinking Temperature (in °C):</p>
        <p class="fact-detail">7-10°</p>
      </div>
    </div>
  </div>
</div>
