<div class="filter-container">
  <div class="filter-top">
    <img src="../../../assets/images/filter_icon.svg" alt="filter icon" />
    <p>FILTER BY</p>
  </div>
  <div class="filter-option">
    <div class="label-container" (click)="isFirstLabelOn = !isFirstLabelOn">
      <p>Malt</p>
      <img
        *ngIf="isFirstLabelOn"
        src="../../../assets/images/arrow_up_icon.svg"
        alt="click here to hide this filter-type"
      />
      <img
        *ngIf="!isFirstLabelOn"
        src="../../../assets/images/arrow_down_icon.svg"
        alt="click here to show this filter-type"
      />
    </div>
    <ng-container *ngIf="isFirstLabelOn === true">
      <ng-container *ngFor="let malt of filterService.filters.malt">
        <app-checkbox [label]="malt.name"></app-checkbox>
      </ng-container>
    </ng-container>
  </div>
  <div class="filter-option">
    <div class="label-container" (click)="isSecondLabelOn = !isSecondLabelOn">
      <p>Hops</p>
      <img
        *ngIf="isSecondLabelOn"
        src="../../../assets/images/arrow_up_icon.svg"
        alt="click here to hide this filter-type"
      />
      <img
        *ngIf="!isSecondLabelOn"
        src="../../../assets/images/arrow_down_icon.svg"
        alt="click here to show this filter-type"
      />
    </div>
    <ng-container *ngIf="isSecondLabelOn === true">
      <ng-container *ngFor="let hops of filterService.filters.hops">
        <app-checkbox [label]="hops.name"></app-checkbox>
      </ng-container>
    </ng-container>
  </div>
  <div class="filter-option">
    <div class="label-container" (click)="isAlcoholLabelOn = !isAlcoholLabelOn">
      <p>Alcohol range</p>
      <img
        *ngIf="isAlcoholLabelOn"
        src="../../../assets/images/arrow_up_icon.svg"
        alt="click here to hide this filter-type"
      />
      <img
        *ngIf="!isAlcoholLabelOn"
        src="../../../assets/images/arrow_down_icon.svg"
        alt="click here to show this filter-type"
      />
    </div>
    <ng-container *ngIf="isAlcoholLabelOn === true">
      <div class="input-field-container" [formGroup]="alcoholForm">
        <app-alcohol-input-field
          [id]="'from'"
          [name]="'from'"
          [type]="'number'"
          [placeholder]="'from (%)'"
          [width]="'92px'"
          [height]="'40px'"
          [control]="this.from"
        ></app-alcohol-input-field>
        <app-alcohol-input-field
          [id]="'until'"
          [name]="'until'"
          [type]="'number'"
          [placeholder]="'until (%)'"
          [width]="'92px'"
          [height]="'40px'"
          [control]="this.until"
        ></app-alcohol-input-field>
        <app-text-button
          [type]="'submit'"
          [label]="'Apply'"
          [width]="'85px'"
          [height]="'40px'"
          (click)="onAlcoholFilterApplied()"
        ></app-text-button>
      </div>
    </ng-container>
  </div>
  <div class="reset-container">
    <app-secondary-button
      [type]="'submit'"
      [label]="'Reset to default'"
      [width]="'148px'"
      [height]="'40px'"
    ></app-secondary-button>
  </div>
</div>
