<div class="container">
  <div class="bottom-top">
    <div class="price-container">
      <div class="price-top-container">
        <div class="price-top-left">
          <p class="price">€6.49</p>
          <p class="old-price">€14.90</p>
        </div>
        <p class="discount">50% OFF</p>
      </div>
      <div class="price-bottom-container">
        <p class="content">Content</p>
        <p class="liter">0.44 Liter</p>
      </div>
    </div>
  </div>
  <div class="bottom-bottom">
    <app-add-to-cart-input-field></app-add-to-cart-input-field>
    <app-primary-button></app-primary-button>
  </div>
</div>
