.breadcrumbs {
  min-width: 410px;
}

h1 {
  min-width: 140px;
}

.beer-list-container {
  display: flex;
  gap: 24px;
  margin-top: 56px;
}

.list-container {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}
